.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #0349fc;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(3, 73, 252, 0.125);
    cursor: pointer;
}

.icon {
    width: inherit;
    height: inherit;
    fill: #0349fc;
}

.iconContainer {
    width: 24px;
    height: 24px;
}

.container span {
    margin: 0px;
    color: #0349fc;
}