.container {
    background-color: rgba(15, 8, 44, 1);
    width: 500px;
    height: 600px;   
    padding: 20px;
    border-radius: 10px;
}

.woah {
    display: flex;
    flex-direction: row;
}

.pfpdiv {
    margin-right: 10px;
}

.userRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timeposted {
    font-size:10px;
    color: rgb(148, 148, 148);
}