.content {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 8, 44);
    box-shadow: 0px 0px 1000px rgb(15, 8, 44);
    min-width: fit-content;   
}

.main {
    width: 550px;
    border-left: 2px solid rgb(49, 44, 85);
    border-right: 2px solid rgb(49, 44, 85);
}

.footer {
    height: 50px;
    width: 100vw;
    position: fixed;
    
    background-color: rgb(15, 8, 44) !important;
    border-top: 2px solid rgb(49, 44, 85);
    bottom: 0;
}