.container {
    display: flex;
    padding: 7.5px;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.iconContainer {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5px;
}

.iconContainer svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}