.content {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 8, 44);
    box-shadow: 0px 0px 1000px rgb(15, 8, 44);
    min-width: fit-content;   
}

.profile_container {
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid rgb(49, 44, 85);
}

.pfp_name {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.pfp_container {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.pfp_container img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.footer {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 100;   
    bottom: 0;
    background-color: rgb(15, 8, 44) !important;
    border-top: 2px solid rgb(49, 44, 85);
}

.desc {
    display: flex;
    height: fit-content;
    flex-direction: column;

}

.username {
    text-align: left;
    font-size: 24px;
    height: fit-content;
}

.joined {
    text-align: left;
    color: rgb(148, 148, 148);
    font-size: 14px;
}

.bio {
    margin-top: 20px;
    text-align: left;
}

.warnUser {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}