.registerPage {
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 8, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerCard {
    max-width: 750px;
    height: fit-content;
    width: 75vw;
    /* min-width: 325px; */
    background-color: rgb(46, 39, 76);
    border-radius: 10px;
    padding: 25px;
    border: 2px solid rgb(27, 23, 56)
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.textfields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.textfield {
    width: 100%;
}

.checkbox {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
}

span {
    color: white;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textfield * {
    color: white;
}


.login p {
    margin: 10px 0px 0px 0px;
    color: white;
    cursor: pointer;
}

.registerButton {
    width: fit-content;
}

.pfp {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    background-color: rgba(0,0,0, 0.25);
    cursor: pointer;
    transition: 0.5s scale;
}

.pfpwrapper {
    display: flex;
    width: 100%;
    margin: 5px 0px 20px 0px;
    justify-content: center;
    
}

.pfp:hover {
    scale: 1.1
}

.pfpimg {
    width: 128px;
    height: 128px;
    display: block;
    border-radius: 50%;
}


@media (max-width: 700px) {
    .registerCard {
        width: 75vw
    }
}